/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}
section {
	max-width: 1140px;
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: rgb(177, 102, 60);
	margin-left: 60px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin-right: 50px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	font-weight: 700;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.no-decoration {
	text-decoration: none;
	color: black;
}

#introduction {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin-left: 0;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	margin-bottom: 1em;
}

.navfilters {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

.btn-filters {
	color: #1D6154;
	background: #FFFEF8;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px 15px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	margin-inline: 10px;
}

.btn-filters__active {
	background-color: #1D6154;
	color: #FFFEF8;
	
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	padding-inline: 15%;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: #FFFEF8;
	background-color: #1D6154;
	margin : 2em 25% ;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 2em
}
/* Ajouts des propriétés css pour la page login.html */

#login {
	width: 35%;
	margin-top: 20%;
	margin-inline: auto;
	margin-bottom: 45% ;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	border: none;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	color: black;
	
}

#login .regex-valid {
	border: 2px solid #1D6154;
	box-sizing: border-box;

}

.btn-connexion {
	margin: 40px auto;
	width: 60%;
	color: #FFFEF8;
	background: rgb(29, 97, 84);
	border: none;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	padding: 15px 5px;
	cursor: pointer;
}

.btn-connexion__hidden {
	background: rgb(29,
		97,
		84, 0.1);
		
}

/*Ajouts des propriétés CSS en mode administrateur*/

.edit-mod__container{
	display: none;
	width: 100%;
	height: 59px;
	margin-bottom: 50px;
	position: fixed;
	left: 0;
	background-color: #000000;
	display: none;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	color: #FFF;
	font-size: 16px;
}

/* Switch bouton login vers logout */

.login {
	display: flex;
}

.logout {
	display: none;
}

/* Gestion de l'apparition des boutons */

.open-modal-btn {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}

.open-modal-btn.position {
	color: #FFF;
	
}

.portfolio-title__container {
	position: relative;
	text-align: center;

}

.portfolio-title__container .open-modal-btn {
	margin-left: 20px;
	position: absolute;
	left: 58%;
	cursor: pointer;
	top: 20%;
	
}

/* Gestion de la modal */

#modal {
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
	width: clamp(200px, 630px, 700px);
	height: clamp(150px, 688px, 750px);
	padding: 0;
	/* padding-bottom: 30px; */
	
	
}

.modal-container {
	display: flex;
	/* height: 100%; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #FFFEF8;

}

.modal-container h2 {
	display: flex;
	color: #000000;
	font-family: 'Work sans';
	font-weight: 400;
	margin: 40px;
	justify-content: center;
}

.close-modal-btn {
	position: absolute;
	background: none;
	border: none;
	color: #000000;
	font-size: 12px;
	top: 5%;
	right: 5%;
	cursor: pointer;
} 


.gallery-modal {
	display: flex;
	flex-wrap: wrap;
	max-width: 420px;

}

.gallery-modal figure {
	display: flex;
	position: relative;
	width: 77px;
	height: 103px;
	margin: 10px 7px 10px 0;
	
}

.gallery-modal img {
	object-fit: fill;
	width: 100%;
}

.gallery-modal i {
	width: 17px;
	height: 17px;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	padding: 1px 1px;
	position: absolute;
	background: #000000;
	color: #FFF;
	top: 5%;
	right: 5%;
	cursor: pointer;
}

.container-decorate-line {
	width: 420px;
	margin: 30px 0 30px 0;
	height: 5px;
}

.decorate-line {
	border-top: 1px solid #B3B3B3;
	margin: 0 0 20px 0;
	width: 100%;
}

.form-add-pictures-error{
	height: 16px;
	margin: 10px 0 20px 0 ;
	text-align: center;
}

.btn-form-incomplete {
	color: #FFF;
	width: 70%;
	margin: auto;
	background: #1D6154;
	border: none;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	padding-inline: 20%;
	cursor: pointer;
	opacity: 0.1
}

.btn-add-pictures {
		color: #FFF;
		margin: 30px auto 0 auto;
		background: #1D6154;
		border: none;
		border-radius: 60px;
		padding: 10px 15px;
		font-family: 'Syne';
		font-weight: 700;
		font-size: 16px;
		padding-inline: 10%;
		cursor: pointer;
		margin-bottom: 40px;
}

.btn-add-pictures.btn-validation{
		color: #FFF;
		background: #1D6154;
		width: 70%;
		border: none;
		border-radius: 60px;
		padding: 10px 15px;
		font-family: 'Syne';
		font-weight: 700;
		font-size: 16px;
		padding-inline: 10%;
		cursor: pointer;
		margin: 0 auto 30px auto;
}

/* Page Ajout photo */

.return-modal-btn {
	background: none;
	border: none;
	position: absolute;
	font-size: 21px;
	top: 5%;
	left: 5%;
	cursor: pointer;
}


#form-add-pictures {
	display: flex;
	flex-direction: column;
	max-width: 420px;
	box-sizing: border-box;
		
}


.add-pictures__label {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 169px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #E8F1F6;
	gap: 10px;
	margin-bottom: 20px;
}

.fa-image{
	color:#B9C5CC;
}

.add-pictures__placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	color: #306685;
	background-color: #B9C5CC;
	font-family: 'Work Sans';
	font-weight: 500;
}

.add-pictures__placeholder-info {
	font-size: 10px;
}

.preview {
	position: absolute;
	width: 129px;
	height: 169px;
	
}

input[type=file] {
	display: none;
}

#label-title, #label-category {
	font-size: 14px;
	font-weight: 500;
	font-family: 'Work Sans';
	margin-bottom: 10px;

}

option[selected] {
	display: none;
}


#title, #select-category {
	height: 50px;
	color: #444444;
	padding-inline: 2%;
	border: none;
	background-color: #FFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-size: 14px;
	font-weight: 500;
	font-family: 'Work Sans';
	margin-bottom: 15px;
}

#select-category {
	margin-bottom: 50px;
}